.main-page {
    display: flex;

    .sheet-list {
        width: 20%;
        border-right: 1px solid #ccc;

        div {
            padding: 10px;
            cursor: pointer;

            &:hover {
                background-color: #f5f5f5;
            }
        }
    }

    .workbook-views {
        flex: 1;
        display: flex;
        overflow: auto;

        .workbook-view {
            flex: 1;
            border-left: 1px solid #ccc;
            overflow: auto;

            .workbook-data {
                min-width: 600px;
                min-height: 800px;
            }
        }
    }
}
