.main-page {
    display: flex;
    height: 100%;
    overflow: auto;

    .sheet-list {
        border-right: 1px solid #ccc;
        padding: 10px;
        overflow-y: auto;

        div {
            padding: 10px;
            cursor: pointer;

            &:hover {
                background-color: #f5f5f5;
            }
        }
    }

    .workbook-view {
        padding: 10px;
        border-left: 1px solid #ccc;
        background-color: #f5f5f5;
        overflow-x: auto;

        .workbook-data {
            min-width: 600px;
            height: 100%;
            overflow-y: auto;
        }
    }
}
